:root{
	--baseBlack:#333333;
	--baseGreen:#abda58;
	--grey9:#999999;
	--grey6:#666666;
	--red:#d91a1a;
	--backlg:linear-gradient(to right,#abda58, #589f96);;
}
.red{
	color: var(---red);
}
.lightGrey{
	color: var(--grey9);
}
.baseGreen{
	color: var(--baseGreen)
}
